* {
    font-family: monospace;
}

button {
    margin: 5px;
}

.title {
    margin-top: 5px;
    font-size: 28px;
    text-align: center;
}

.msg {
    margin: 10px;
}

#info {
    margin: 10px;
}
#box-one{
    width: 100%;
    height: 500px;
}
.introduction{
    width: 45%;
    float: left;
}
.intro{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.recite{
    margin-top: 100px;
    margin-left: 100px;
}
.logo{
    width: 45%;
    float: left;
    margin-left: 20px;
}
.logo img{
    margin-top: 20px;
}
.btn{
    margin-top: 10%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.button-1{
    float: left;
    margin-left: 30%;
}
.button-2{
    float: left;
    margin-left: 3%;
}