*{
    font-family: monospace;
}
p{
    margin: 10px;
}
input{
    margin: 10px;
}
.data{
    width: 200px;
}
.form{
    text-align: center;
}
.chinese{
    margin-top: 25px;
    font-size: 24px;
}
.right{
    display: none; 
    font-size: 48px;
    margin: 0 auto;
    margin-top: 50px;
}
.wrong{
    display: none; 
    font-size: 48px;
    margin: 0 auto;
    margin-top: 50px;
}