<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <title>词神</title>
</head>

<body>
    {% for msg in get_flashed_messages() %}
    <article class="message is-info" id="info">
        <div class="message-header">
            <p>消息</p>
            <button class="delete" aria-label="delete"
                onclick="document.getElementById('info').style.display = 'none'"></button>
        </div>
        <div class="message-body">
            {{ msg }}
        </div>
    </article>
    {% endfor %}
    <nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="{{ url_for('static', filename='favicon.ico') }}">
                &nbsp;
            </a>
            <a id="button" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-item" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        单词屋
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/add-new-word">
                            <img src="{{ url_for('static', filename='add-new-word/icon.svg') }}" width="16px"
                                height="16px">
                            &ensp;新单词
                        </a>
                        <a class="navbar-item" onclick="recite_words()">
                            <img src="{{ url_for('static', filename='recite-words/icon.svg') }}" width="16px"
                                height="16px">
                            &ensp;背单词
                        </a>
                        <a class="navbar-item" href="/search-words">
                            <img src="{{ url_for('static', filename='search-words/icon.svg') }}" width="16px"
                                height="16px">
                            &ensp;查单词
                        </a>
                        <a class="navbar-item" href="/see-words">
                            <img src="{{ url_for('static', filename='see-words/icon.svg') }}" width="16px"
                                height="16px">
                            &ensp;看单词
                        </a>
                        <a class="navbar-item" href="/wrong-words">
                            <img src="{{ url_for('static', filename='wrong-words/icon.svg') }}" width="16px"
                                height="16px">
                            &ensp;错题库
                        </a>
                        <a class="navbar-item" href="/word-books">
                            <img src="{{ url_for('static', filename='word-books/icon.svg') }}" width="16px"
                                height="16px">
                            &ensp;词书
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="/settings">
                    <img src="{{ url_for('static', filename='settings/icon.svg') }}" width="16px" height="16px">
                    &ensp;设置
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/login">
                <img src="{{ url_for('static', filename='login/icon.svg') }}" width="16px" height="16px">
                &ensp;登录
            </a>
            <a class="navbar-item" href="/registe">
                <img src="{{ url_for('static', filename='registe/icon.svg') }}" width="16px" height="16px">
                &ensp;注册
            </a>
        </div>
    </nav>
    <div class="box" id="box-one">
        <div class="introduction">
            <h1 class="intro">词神，一个专注于<br>背单词的网站</h1>
            <div class="btn">
                <button class="button-1 button is-link is-outlined is-rounded"
                    onclick="window.location='/word-books'">词书</button>
                <button class="button-2 button is-link is-outlined is-rounded" onclick="recite_words()">开始背单词</button>
            </div>
        </div>
        <div class="logo">
            <img class="" src="{{ url_for('static', filename='favicon.ico') }}">
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script>
    function recite_words() {
        recite_progress = "{{ session.get('recite_progress') }}"
        if (!recite_progress) {
            recite_progress = 0
        }
        window.location = "/recite-words?choice=" + recite_progress
    }
    if ({{ is_login }}) {
        $(".navbar-end").append("<p>{{ username }}</p>")
    }
</script>

</html>