<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='see-words/see.css') }}" type="text/css">
</head>

<body>
    <h1>总单词表</h1>
    <button class="button is-link is-outlined is-rounded return-index" onclick="window.location='/'">返回首页</button>
    <form action="/see-words" method="POST">
        <input style="display: none;" name="delete-all" value="delete all">
        <input class="button is-link is-outlined is-rounded delete-all" type="submit" value="删除全部">
    </form>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>英语</th>
                <th>中文</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for word in words.items %}
            <tr>
                <td>{{ word.english }}</td>
                <td>{{ word.chinese }}</td>
                <td>
                    <form method="POST" action="/see-words">
                        <input style="display:none;" value="{{ word.chinese }}" name="chinese">
                        <input style="display:none;" value="{{ word.english }}" name="english">
                        <input class="button is-link is-outlined is-rounded" type="submit" value="删除">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="prev-next">
        {% if words.has_prev %}
        <button onclick="previous_page()">上一页</button>
        {% endif %}
        <button onclick="previous_page()">{{ words.page }}</button>
        {% if words.has_next %}
        <button onclick="next_page()">下一页</button>
        {% endif %}
    </div>
</body>
<script>
    function next_page() {
        href = window.location.href
        arr = href.split("/")
        page = arr.pop()
        new_href = arr.join("/") + "/"
        new_href += (parseInt(page) + 1).toString()
        window.location = new_href
    }

    function previous_page() {
        href = window.location.href
        arr = href.split("/")
        page = arr.pop()
        new_href = arr.join("/") + "/"
        new_href += (parseInt(page) - 1).toString()
        window.location = new_href
    }
</script>

</html>