<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='settings/settings.css') }}" type="text/css">
</head>

<body>
    {% for msg in get_flashed_messages() %}
        <p class="msg">{{ msg }}</p>
    {% endfor %}
    <h1>设置</h1>
    <form action="/settings" method="POST">
        <p>每次背诵单词数</p>
        <input type="number" name="words_count" value="{{ words_count }}">
        <input class="button is-link is-outlined is-rounded" type="submit">
    </form>
    <div class="box youdict">
        <p><a href="https://www.youdict.com/ciku">优词网站</a>爬取</p>
        <form action="/spider/youdict" method = "POST">
            {{ youdictform.page_number_begin.label }}
            {{ youdictform.page_number_begin }}
            <br>
            {{ youdictform.page_number_all.label }}
            {{ youdictform.page_number_all }}
            <br>
            {{ youdictform.submit }}
        </form>
    </div>
    <div class="box hujiang">
        <p><a href="https://www.hujiang.com/ciku/zuixinyingyudanci">沪江网站</a>爬取</p>
        <form action="/spider/hujiang" method = "POST">
            {{ hujiangform.page_number_begin.label }}
            {{ hujiangform.page_number_begin }}
            <br>
            {{ hujiangform.page_number_all.label }}
            {{ hujiangform.page_number_all }}
            <br>
            {{ hujiangform.submit }}
        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="box spider-progress">
        <p>爬取过程中请勿关闭页面！</p>
        <progress class="progress is-medium is-primary" max="100"></progress>
    </div>
</body>
</html>