*{
    font-family: monospace;
}
#submit{
    margin: 10px;
}
textarea{
    margin:10px;
}
h1{
    font-size: 28px;
    text-align: center;
}
.example{
    margin-left: 10px;
    font-size: 20px;
}
.example-data{
    margin: 10px;
}