<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='add-new-word/hand.css') }}" type="text/css">
    </head>
    <body>
        <form action="/add-new-word" method="POST">
            <h1><label for="words">输入单词</label></h1>
            <textarea class="textarea is-info is-focused" cols="10" id="words" name="words" required="" rows="5"></textarea>
            <br>
            <input class="button is-rounded is-primary is-outlined" id="submit" name="submit" type="submit" value="提交">
        </form>
        <div>
            <h2 class="example">示例：</h2>
            <div class="example-data">
                <p>book 书本</p>
                <p>write 写,书写</p>
            </div>
        </div>
    </body>
</html>