<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}" type="text/css">
</head>
<body>
    <button class="button is-link is-outlined is-rounded" onclick="window.location='add-new-word/hand'">手动输入</button>
    <button class="button is-link is-outlined is-rounded" onclick="window.location='add-new-word/file'">文件上传</button>
</body>

</html>