table{
    margin: 10px;
}
button{
    margin: 10px;
}
h1{
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
}
.return-index{
    float: left;
}
.delete-all{
    float: left;
    margin-top: 10px;
}
.prev-next{
    text-align: center;
}